.container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px auto;
    background-color: aqua;
}
.mylist {
    display: flex;
    margin: 35px auto;
    font-family: raleway;
    justify-content: center;
    
}